<h1>Search Github Repositories</h1>

<% if @resp %>
  <% @resp["items"].each do |item| %>
    <%= item["name"] %>
    <a href=<%= item["html_url"] %>><%= item["html_url"] %></a>
    <%= item["description"] %>
  <% end %>
<% end %>


<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

